@import "./../../styles/App.scss";

.address-list {
  width: 100%;
  &__wrapper {
    @extend .flex-row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  &__element {
    @extend .flex-column;
    @extend .card-base;
    height: 100%;
    display: flex;
    min-height: 240px;
    max-width: 350px;
    flex-direction: column;
    margin: 1em;
    padding: 2em;
  }

  button {
    @extend .base-button;
    height: 45px;
    margin-top: 32px;
    max-width: 50%;
    min-width: 150px;
  }

  span {
    font-weight: 800;
  }
}
